<?xml version="1.0" encoding="UTF-8"?>
<signed-credential>
    <credential xml:id="ref0">
    <type>abac</type>
    <serial/>
    <owner_gid/>
    <target_gid/>
    <uuid/>
    <expires>@expires@</expires>	
    <abac> 
      <rt0> 
        <version>1.1</version> 
        <head> 
	  <ABACprincipal><keyid>@subject_keyid@</keyid></ABACprincipal> 
	  <role>@subject_role@</role>
	</head>
	<tail>   
	  <ABACprincipal><keyid>@target_keyid@</keyid></ABACprincipal>   
	  @target_role@
	</tail> 
      </rt0> 
    </abac>
    </credential>
    <signatures>
    </signatures>
</signed-credential>
