# This is necessary to allow the FCGI ScriptAliases
# to run. Otherwise there is a 403 Forbidden error.
<Directory @pkgdatadir@/chapi/AMsoil/src>
   AllowOverride None
   Require all granted
</Directory>

NameVirtualHost *:443

<VirtualHost *:443>
    ServerName @ch_host@

    ErrorLog /var/log/httpd/ch_error_log
    CustomLog /var/log/httpd/ch_access_log combined
    LogLevel warn

    SSLEngine on
    SSLCertificateFile /etc/geni-chapi/ch-@ch_host@-cert.pem
    SSLCertificateKeyFile /etc/geni-chapi/ch-@ch_host@-key.pem

    SSLOptions +ExportCertData
    SSLCACertificateFile @pkgdatadir@/CA/ca-ma-cert.pem
    SSLVerifyClient optional
    SSLVerifyDepth 3

    FcgidInitialEnv PYTHONPATH @pkgdatadir@/gcf/src:@pkgdatadir@/chapi/chapi:@pkgdatadir@/chapi/chapi/tools
    ScriptAlias /SA @pkgdatadir@/chapi/AMsoil/src/main.fcgi
    ScriptAlias /MA @pkgdatadir@/chapi/AMsoil/src/main.fcgi
    ScriptAlias /CS @pkgdatadir@/chapi/AMsoil/src/main.fcgi
    ScriptAlias /LOG @pkgdatadir@/chapi/AMsoil/src/main.fcgi
    ScriptAliasMatch /info/*/* @pkgdatadir@/chapi/AMsoil/src/main.fcgi


</VirtualHost>

Listen 8444
NameVirtualHost *:8444
<VirtualHost *:8444>
    ServerName @ch_host@

    ErrorLog /var/log/httpd/ch_error_8444_log
    CustomLog /var/log/httpd/ch_access_8444_log combined
    LogLevel warn

    SSLEngine on
    SSLCertificateFile /etc/geni-chapi/ch-@ch_host@-cert.pem
    SSLCertificateKeyFile /etc/geni-chapi/ch-@ch_host@-key.pem

    SSLOptions +ExportCertData
    SSLCACertificateFile @pkgdatadir@/CA/cacert.pem
    SSLVerifyClient optional_no_ca
    SSLVerifyDepth 3

    FcgidInitialEnv PYTHONPATH @pkgdatadir@/gcf/src:@pkgdatadir@/chapi/chapi:@pkgdatadir@/chapi/chapi/tools
    ScriptAlias /CH @pkgdatadir@/chapi/AMsoil/src/main.fcgi
    ScriptAlias /SR @pkgdatadir@/chapi/AMsoil/src/main.fcgi

</VirtualHost>

