# ----------------------------------------------------------------------
# Enable access to the WSGI files. Without this, the client is denied
# acess to the WSGI entry point.
# ----------------------------------------------------------------------
<Directory /usr/share/geni-ch/chapi/chapi>
  AllowOverride None
  Require all granted
</Directory>

# ----------------------------------------------------------------------
# Ubuntu uses the WSGIDaemonProcess python-path setting, and CentOS 7
# uses the path specified in WSGIPythonPath. The WSGI docs indicate
# that the the WSGIDaemonProcess should not be using WSGIPythonPath.
# Leave both in place so it works on both platforms.
# ----------------------------------------------------------------------
WSGIPythonPath /usr/share/geni-ch/chapi/chapi
WSGIDaemonProcess ch_server display-name=%{GROUP} python-path=/usr/share/geni-c\
h/chapi/chapi

<VirtualHost *:443>
    ServerName @ch_host@

    ErrorLog /var/log/httpd/ch_error_log
    CustomLog /var/log/httpd/ch_access_log combined
    LogLevel warn

    SSLEngine on
    SSLCertificateFile /etc/geni-chapi/ch-@ch_host@-cert.pem
    SSLCertificateKeyFile /etc/geni-chapi/ch-@ch_host@-key.pem

    SSLOptions +ExportCertData
    SSLCACertificateFile @pkgdatadir@/CA/ca-ma-cert.pem
    SSLVerifyClient optional
    SSLVerifyDepth 3

    WSGIScriptAlias / @pkgdatadir@/chapi/chapi/tools/ch_server.wsgi
    WSGIScriptAlias /SA @pkgdatadir@/chapi/chapi/tools/ch_server.wsgi
    WSGIScriptAlias /MA @pkgdatadir@/chapi/chapi/tools/ch_server.wsgi
    WSGIScriptAlias /CS @pkgdatadir@/chapi/chapi/tools/ch_server.wsgi
    WSGIScriptAlias /LOG @pkgdatadir@/chapi/chapi/tools/ch_server.wsgi
    WSGIScriptAliasMatch /info/*/* @pkgdatadir@/chapi/chapi/tools/ch_server.wsgi

</VirtualHost>

Listen 8444
<VirtualHost *:8444>
    ServerName @ch_host@

    ErrorLog /var/log/httpd/ch_error_8444_log
    CustomLog /var/log/httpd/ch_access_8444_log combined
    LogLevel warn

    SSLEngine on
    SSLCertificateFile /etc/geni-chapi/ch-@ch_host@-cert.pem
    SSLCertificateKeyFile /etc/geni-chapi/ch-@ch_host@-key.pem

    SSLOptions +ExportCertData
    SSLCACertificateFile @pkgdatadir@/CA/cacert.pem
    SSLVerifyClient optional_no_ca
    SSLVerifyDepth 3

    WSGIScriptAlias /CH @pkgdatadir@/chapi/chapi/tools/ch_server.wsgi
    WSGIScriptAlias /SR @pkgdatadir@/chapi/chapi/tools/ch_server.wsgi

</VirtualHost>
