;----------------------------------------------------------------------
; Example chapi config file
;----------------------------------------------------------------------

[chapiv1rpc]

; Folder which includes trusted clearinghouse certificates for GENI
;  API v3 (in .pem format). If relative path, the root is assumed to be
;  git repo root.
ch_cert_root=@pkgdatadir@/portal/gcf.d/trusted_roots

; Location of CH certificate
ch_cert=@pkgdatadir@/CA/cacert.pem

; Location of CH private key
ch_key=@pkgdatadir@/CA/private/cakey.pem


[chapi]

; Location of MA certificate
ma_cert=@pkgdatadir@/ma/ma-cert.pem

; Location of MA private key
ma_key=@pkgdatadir@/ma/ma-key.pem

; Location of SA certificate
sa_cert=@pkgdatadir@/sa/sa-cert.pem

; Location of SA private key
sa_key=@pkgdatadir@/sa/sa-key.pem

; Location of CHAPI log file
log_file=@pkglogdir@/chapi.log

; Location of CHAPI logging config file
log_config_file=@pkgsysconfdir@/logging_config.conf

; Location of CHAPI SSL config file
ssl_config_file=@pkgdatadir@/CA/openssl.cnf

; Set true to enable verbose debug logging in CHAPI.
log_verbose=False

; CHAPI logging level.
log_level=INFO

; address to receive portal admin messages
portal_admin_email=@ch_admin_email@

; address to receive portal help messages
portal_help_email=@ch_admin_email@

; From address for all messages
ch_from_email=@ch_admin_email@

[chrm]

; name of CH/SA/MA authority
; This is probably the hostname, or a CNAME alias for the host
authority=@ch_authority@

; database URL
;  Syntax: postgresql://USER:PASSWORD@HOST/DB
db_url=postgresql://@db_user@:@db_pass@@@db_host@/@db_name@


[flask]

; Debug client cert file
debug.client_cert_file=@pkgdatadir@/developer/cert.pem

; Use FCGI server instead of the development server.
fcgi=True

; Port to bind the Flask RPC to (FCGI server).
fcgi_port=0

; Port to bind the Flask RPC to (standalone server).
app_port=8001

; Write logging messages for the Flask RPC server.
debug=True

[geni]

; Location of the GENI 'maintenance outage' message
; See from proto-ch /usr/share/geni-ch/lib/php/maintenance_mode.php
maintenance_outage_location=@pkgsysconfdir@/geni_maintenance_outage.msg
