insert into service_registry (service_type, service_url, service_urn) 
 values (1, 'https://@ch_host@/SA',  'urn:publicid:IDN+@ch_host@+authority+sa');
insert into service_registry (service_type, service_url, service_urn) 
 values (2, 'https://@ch_host@/SA', 'urn:publicid:IDN+@ch_host@+authority+sa');
insert into service_registry (service_type, service_url, service_urn) 
 values (3, 'https://@ch_host@/MA', 'urn:publicid:IDN+@ch_host@+authority+ma');
insert into service_registry (service_type, service_url) values (5, 'https://@ch_host@/LOG');
insert into service_registry (service_type, service_url) values (6, 'https://@ch_host@/CS');
insert into service_registry (service_type, service_url) values (9, 'https://@ch_host@/PGCH');
                                                                                


